@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&display=swap');

*{
    box-sizing: border-box;
    font-family: Be-Vietnam-Pro, sans-serif;
    text-decoration: none;
}

body{
    font-size: 16px;
}

.boton-nav, .boton-section, .boton-main, .boton-email, .bot-blanco {
    position: absolute;
    display: flex;
    align-items: center;    
    justify-content: space-around;
    width: 134px;
    height: 44px;
    background-color: rgb(242, 95, 58);
    box-shadow: 0px 4px 8px rgba(242, 97, 59, 0.5);
    border: none;
    border-radius: 50px;
    padding: 15px;
    color: white;
    font-weight: 500;
    font-size: 13px;
} 

.logo-header{
    display: flex;
    position: absolute;
    left: 10%;
    top: 6%;
}

header nav ul{
    position: absolute;
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 40vw;
    left: 30%;
    bottom: 90%;
}

.boton-nav{
    right: 11%;
    bottom: 90%;
}

.cuadro-texto1{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 25%;
    left: 10%;
    width: 440px;
    height: 200px;
}

h1{
    color: rgba(35, 40, 81, 1);
    font-weight: 700;
    font-size: 55px;
    width: 439px;
    height: 198px;
}

section div img{
    position: absolute;
    left: 53%;
    top: 20%;
}

.texto-1{
    position: absolute;
    font-weight: 500;
    font-size: 17px;
    top: 130%;
    width: 350px;
    height: 71px;
}

.boton-main{
    top: 180%;
}

.cuadro-texto2{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 78%;
    right: 55%;
    width: 440px;
    height: 200px;
}

h2{
    color: rgba(35, 40, 81, 1);
    font-weight: 700;
    font-size: 36px;
    width: 430px;
    height: 90px;
}

.texto-2{
    width: 337px;
    height: 88px;
    font-weight: 500;
    font-size: 16px;
}

article ol{
    position: absolute;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: 553px;
    height: 158px;
    top: 87%;
    left: 50%;
}

article ol li{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 24%;
    color: #B3B2B7;
}

article ol li span{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3603B;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border-radius: 30px;
    width: 70px;
    height: 43px;
    right: 16%;
    top: 33%;
    padding: 10px 25px;
}

h4{
    color: #323851;
    font-weight: 700;
    font-size: 16px;
}

.contenedor-avatares{
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    top: 112vw;
    right: 4vh;
}

.texto-avatares{
    position: absolute;
    bottom: 13rem;
    color:#242E53;
    width: 430px;
    height: 61px;
    font-weight: 700;
    font-size: 40px;
    left: 30rem;
}

section article img{
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 70px;
    height: 70px;
    bottom: 8rem;
    left: 12rem;
}

h5{
    position: absolute;
    bottom: 5em;
    left: 12em; 
    font-weight: 700;
    font-size: 16.0714px;
    color: #3F4868;
}

.Anisha, .Ali, .Richi{
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    justify-content: space-around;
    width: 421px;
    height: 116px;
    font-weight: 500;
    font-size: 16px;
    color: #B9B9C1;
}

input[type="radio"]{
    display: none;
}

.boton-section{
    top: 120%;
    left: 47%;
}

.pre-footer{
    display: flex;
    position: absolute;
    align-items: center;
    background-color: rgb(242, 95, 58);
    color: white;
    font-weight: 700;
    font-size: 40px;
    width: 100%;
    height: 10vh;
    top: 190%;
    left: 0%;
}

#boton-blanco{
    background-color: white;
    color: #f25f3a;
    right: 10vw;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

footer{
    position: absolute;
    display: flex;
    background-color: #1E1E26;
    color: white;
    top: 200%;
    width: 100%;
    height: 20%;
    left: 0%;
}

footer a{
    color: white;
    padding: 5px;
}

.barra-email{
    position: absolute;
    display: flex;
    width: 273px;
    height: 49px;
    right: 15%;
    top: 45px;
}

.barra-email input[type="email"]{
    width: 201px;
    height: 44px;
    border-radius: 50px;
    top: 32px;
}

.boton-email{
    position: absolute;
    display: flex;
    left: 210px;
}

.logo-footer{
    position: absolute;
    display: flex;
    width: 145px;
    height: 26px;
    top: 3rem;
    left: 10%;
}

.primer-lista-foot{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    left: 20em;
    font-weight: 400;
    font-size: 16px;
}

.segunda-lista-foot{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    left: 25em;
    font-weight: 400;
    font-size: 16px;
}

.redes{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 60%;
    left: 11%;
}

.primer-lista-foot a:hover, .segunda-lista-foot a:hover, .redes a:hover{
    color: rgb(242, 95, 58);
}

footer p{
    position: absolute;
    display: flex;
    top: 11em;
    left: 80em;
    color: rgba(140, 140, 148, 1);
    font-weight: 500;
    font-size: 12px;
}

@media (max-width: 375px) {

    header nav ul{
        display: none;
    }

    .boton-nav{
        display: none;
    }

    header nav div .logo-header{
        position: relative;
        left: -16vh;
        top: 1vh;
    }

    header nav{ 
        position: relative;
        background-image: url(/imagenes/icon-hamburger.svg);
        background-repeat: no-repeat;
        background-position: right;
        left: 20vh;
        top: 6vh;
    }

    main section img{
        display: flex;
        justify-content: center;
        align-items: center;
        left: 1rem;
    }

    h1{
        position: absolute;
        top: 27rem;
        text-align: center;
        left: 2rem;
    }

    .texto-1{
        top: 43rem;
        left: 4rem;
        font-size: 20px;
        text-align: center;
        line-height: 156.1%;
        color: #B3B2B7;
    }

    .boton-main{
        top: 52rem;
        left: 11rem;
    }

    .cuadro-texto2{
        top: 133%;
        left: 24%;
    }

    .texto-2{
        position: absolute;
        left: 0vh;
        top: 13vh;
        width: 120vw;
        color: #B3B2B7;
        text-align: center;
        font-size: 19px;
        line-height: 150.1%;
    }

    article ol{
        left: 7vh;
        top: 163vh;
        text-align: start;
        height: 19%;
        width: 120vw;
    }

    article ol li span{
        right: 20vw;
        top: 3vw; 
    }

    h4{
        position: absolute;
        background-color: rgb(255, 239, 234);
        width: 116%;
        border-radius: 10px;
        height: 21%;
    }

    .texto-avatares{
        left: 1em;
        bottom: 4em;
    }

    .contenedor-avatares{
        top: 116rem;
        left: 5rem;
    }

    .Anisha, .Richi{
        display: none;
    }

    .perfil-ali{
        position: absolute;
        bottom: 13vh;
        left: 20vh;
    }

    h5{
        position: absolute;
        width: 7em;
        left: 9em;
        bottom: 4em;
        margin: 0px;
    }
/* 
    .Ali{
        top: auto;
        left: auto;
    } */

    .boton-section{
        top: 15rem;
        left: 9rem;
    }

    input:checked{
        background-color: rgb(242, 95, 58);
    }


    input[type="radio"]{
        display: flex;
        position: relative;
        appearance: none;
        border: 0.05vh solid rgb(242, 95, 58);
        color: #ffffff;
        border-radius: 50%;
        height: 0.9vh;
        width: 0.9vh;
        top: 8em;
        right: 12em;
    }

    .pre-footer{
        top: 266vh;
        width: 72vh;
        height: 46vh;
        padding-left: 5vh;
        text-align: center;
    }

    #boton-blanco{
        position: relative;
        top: 32%;
        right: 47%;
    }

    footer{
        top: 312vh;
        width: 72vh;
        height: 72vh;
    }

    .barra-busqueda{
        top: 4rem;
        left: 9rem;
    }
    
    .boton-busqueda{
        height: 3em;
        top: 0.25em;
        width: 4em;
    }
    
    .logo-footer{
        top: 28rem;
        width: 16rem;
        height: 5rem;
        left: 9rem;
    }
    
    .primera-lista-foot{
        position: absolute;
        bottom: 21em;
        left: 3em;
    }
    
    .segunda-lista-foot{
        bottom: 27vw;
        left: 71vw;
        position: relative;
        display: flex;
        justify-content: center;
    }
    
    .redes{
        position: absolute;
        height: 17vw;
        width: 34vw;
        left: 57vw;
        top: 94vw;
    }

    footer p{
        top: 64vh;
        left: 23vh;
    }
}
